<%= render 'layouts/messages' %>

<div class="page-header">
	<h1>Visualizando Cliente</h1>
</div>

<p>
  <strong><%= label @cliente, :tipo_pessoa %>:</strong>
  <%= valor_tipo_pessoa(@cliente) %>
</p>

<p>
  <strong><%= label @cliente, :nome, label_nome(@cliente) %>:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong><%= label @cliente, :documento, label_documento(@cliente) %>:</strong>
  <%= @cliente.documento %>
</p>

<% if @cliente.pessoa_juridica? %>
	<p>
		<strong><%= label @cliente, :contato %>:</strong>
  		<%= @cliente.contato %>
	</p>
<% end %>


<p>
  <strong><%= label @cliente, :endereco %>:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong><%= label @cliente, :complemento %>:</strong>
  <%= @cliente.complemento %>
</p>

<p>
  <strong><%= label @cliente, :bairro %>:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong><%= label @cliente, :cidade %>:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong><%= label @cliente, :cep %>:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong><%= label @cliente, :uf %>:</strong>
  <%= @cliente.uf %>
</p>

<p>
  <strong><%= label @cliente, :telefone %>:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong><%= label @cliente, :celular %>:</strong>
  <%= @cliente.celular %>
</p>

<% if @cliente.pessoa_fisica? %>
  <p>
    <strong><%= label @cliente, :data_de_nascimento %>:</strong>
    <%= l @cliente.data_nascimento %>
  </p>
<% end %>

<p>
  <strong><%= label @cliente, :email %>:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong><%= label @cliente, :observacoes %>:</strong>
  <%= @cliente.observacoes %>
</p>

<div class="pull-right">
	<%= link_to clientes_path, class: "btn btn-default" do %>
		<i class="glyphicon glyphicon-arrow-left"></i> Voltar
	<% end %>
	
	<%= link_to edit_cliente_path(@cliente), class: "btn btn-info" do %>
		<i class="glyphicon glyphicon-pencil"></i> Alterar
	<% end %> 
</div>
