<% unless notice.nil? %>
	<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<div class="page-header">
	<h1>Visualizando Cliente</h1>
</div>

<p>
  <strong>Pessoa:</strong>
  <% if @cliente.tipo_pessoa == 0 %>
  	Física
  <% else %>
  	Jurídica
  <% end %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
	<% if @cliente.tipo_pessoa == 0 %>
		<strong>CPF:</strong>
  	<% else %>
  		<strong>CNPJ:</strong>
  	<% end %>
  <%= @cliente.documento %>
</p>

<% if @cliente.tipo_pessoa == 1 %>
	<p>
		<strong>Contato:</strong>
  		<%= @cliente.contato %>
	</p>
<% end %>


<p>
  <strong>Endereço:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @cliente.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>UF:</strong>
  <%= @cliente.uf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= l @cliente.data_nascimento %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @cliente.observacoes %>
</p>

<div class="pull-right">
	<%= link_to clientes_path, class: "btn btn-default" do %>
		<i class="glyphicon glyphicon-arrow-left"></i> Voltar
	<% end %>
	
	<%= link_to edit_cliente_path(@cliente), class: "btn btn-info" do %>
		<i class="glyphicon glyphicon-pencil"></i> Alterar
	<% end %> 
</div>
