<%= bootstrap_form_for @servico, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8", inline_errors: false do |f| %>

<%= f.alert_message "Por favor corrija os erros abaixo: " %>

<%= f.text_field :nome, autofocus: true %>

<%= f.select :unidade, options_for_select(listar_unidades, @servico.unidade), {include_blank: "Selecione...", control_col: 'col-sm-2'}  %>

<%= f.text_field :valor, prepend: "R$", control_col: 'col-sm-2', id: "valor", value: number_to_currency(@servico.valor) %>

<div class="pull-right">
	<%= link_to servicos_path, class: "btn btn-default" do %>
		<i class="glyphicon glyphicon-arrow-left"></i> Voltar
	<% end %>
	<%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
		<i class="glyphicon glyphicon-floppy-disk"></i> Salvar
	<% end %>
</div>

<% end %>
