<%= form_for @servico, :html => {:class => 'form-horizontal'} do |f| %>
<% if @servico.errors.any? %>
<div id="error_explanation">
	<h3><%= pluralize(@servico.errors.count, "erro") %> não permitiram que este serviço fosse salvo:</h3>

	<% @servico.errors.full_messages.each do |message| %>
	<div class="alert alert-danger">
		<%= message %>
	</div>
	<% end %>
</div>
<% end %>

<div class="form-group">
	<%= f.label :nome %>
	<div class="col-sm-8">
		<%= f.text_field :nome, autofocus: true %>
	</div>
</div>
<div class="form-group">
	<%= f.label :unidade %>
	<div class="col-sm-2">
		<%= f.select :unidade, options_for_select(listar_unidades, @servico.unidade), {include_blank: "Selecione..."} %>
	</div>
</div>
<div class="form-group">
	<%= f.label :valor %>
	<div class="col-sm-2">
		<%= f.text_field :valor, id: "valor", value: number_to_currency(@servico.valor) %>
	</div>
</div>

<div class="pull-right">
	<%= link_to servicos_path, class: "btn btn-default" do %>
		<i class="glyphicon glyphicon-arrow-left"></i> Voltar
	<% end %>
	<%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
		<i class="glyphicon glyphicon-floppy-disk"></i> Salvar
	<% end %>
</div>

<% end %>
