<%= bootstrap_form_for @orcamento, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8", inline_errors: false do |f| %>
  
  <%= f.alert_message "Por favor corrija os erros abaixo: " %>

	<%= f.text_field :data, control_col: 'col-sm-2', data: {provide: 'datepicker', "date-format" => 'dd/mm/yyyy', 'date-language' => 'pt-BR'}, value: @orcamento.data.nil? ? @orcamento.data : l(@orcamento.data) %>

  <div class="form-group ajusteLinha">
    <div class="col-sm-offset-1 col-sm-8">
      <%= f.collection_select :cliente_id, Cliente.order(:nome), :id, :nome, {prompt: true, control_col: 'col-sm-8'}  %>
    </div>
    <%= link_to '/clientes/new_cliente_from_orcamento', class: "btn btn-success" do %>
    	<i class="glyphicon glyphicon-plus"></i> Novo cliente
    <% end %>
  </div>
  
  <div id="infoCliente">
	  <%= f.static_control label: 'Endereço' do %>
	    <span id="clienteEndereco" style="padding-top: 5px">
    		<% if @orcamento.cliente.present? %>
  				<%= @orcamento.cliente.endereco + ", " + @orcamento.cliente.complemento + " - " + @orcamento.cliente.bairro + " - " + @orcamento.cliente.cidade + " - " + @orcamento.cliente.uf %>
  	  	<% end %>
  	  </span>
	  <% end %>
	  
	  <%= f.static_control label: 'Telefones' do %>  
  		<span id="clienteTelefones" style="padding-top: 5px">
  			<% if @orcamento.cliente.present? %>
  				<% if @orcamento.cliente.telefone.present? && @orcamento.cliente.celular.present? %>
  					<%= @orcamento.cliente.telefone + " - " + @orcamento.cliente.celular %>
  				<% elsif @orcamento.cliente.telefone.present? %>
  					<%= @orcamento.cliente.telefone %>
  				<% else %>
  					<%= @orcamento.cliente.celular %>
  				<% end %>
  			<% end %>
  		</span>
	  <% end %>
	  
    <%= f.form_group do %>
	    <%= f.check_box :flag_local_diferente, label: 'O serviço será realizado em um endereço diferente.', id: 'local_diferente', checked: @orcamento.flag_local_diferente %>
    <% end %>
    
    <%= f.text_field :local_servico, wrapper: {class: 'endereco_diferente', style: 'display:none'} %>
  </div>
  
	<%= f.text_field :descricao %>

	<%= f.text_field :forma_pagamento %>
  
  <div class="form-group">
    <div class='col-sm-3'>
      <%= f.label :orcamento_servicos, 'Serviços', class: 'pull-right required', style: 'padding-top: 5px' %>
    </div>
    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
      <i class="glyphicon glyphicon-plus" title="Adicionar Serviços" data-toggle="tooltip"></i>
    </button>
    <div class="col-sm-8">
      <table id="tabelaServico" class="table table-striped table-bordered table-hover table-responsive">
        <thead>
          <tr >
            <th>Qtd</th>
            <th>Unid</th>
            <th>Serviço</th>
            <th>Valor Unitário</th>
            <th>Valor Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @orcamento.orcamento_servicos.each do |s| %>
            <tr>
              <td align="right">
                <input type='hidden' name='orcamento[orcamento_servicos_attributes][][quantidade]' value='<%= s.quantidade %>'></input>
                <%= s.quantidade %></td>
              <td align="center"><%= s.servico.unidade %></td>
              <td>
                <input type='hidden' name='orcamento[orcamento_servicos_attributes][][servico_id]' value='<%= s.servico.id %>'></input>
                <%= s.servico.nome %></td>
              <td align="right"><%= number_to_currency(s.servico.valor) %></td>
              <td align="right"><%= number_to_currency(s.servico.valor * s.quantidade)  %></td>
              <td align="center">
                <a href="#" class="deletarServico btn btn-danger btn-xs" val='<%= s.servico.valor * s.quantidade %>'>
                  <i class="glyphicon glyphicon-remove" title="Remover"></i>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="rodapeTabela">SubTotal:</td>
            <td class="rodapeTabela">
              <input type='hidden' id='hdnSubTotalServicos' value='<%= @orcamento.valor_subtotal %>'>
              <span id="subTotalServicos"><%= number_to_currency(@orcamento.valor_subtotal) %></span>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="4" class="rodapeTabela" style="vertical-align: middle">Desconto:</td>
            <td class="rodapeTabela">
              <div style="width: 100px" class="pull-right">
                <input type='hidden' id='hdnDesconto' value='<%= @orcamento.desconto %>'>
                <%= f.text_field_without_bootstrap :desconto, class: 'form-control', value: number_to_currency(@orcamento.desconto) %>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="4" class="rodapeTabela">Total:</td>
            <td class="rodapeTabela">
              <input type='hidden' id='hdnTotalServicos' value='<%= @orcamento.valor_total %>'>
              <span id="totalServicos"><%= number_to_currency(@orcamento.valor_total) %></span>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
	<%= f.text_area :observacoes %>
	
	<%= f.text_field :validade, control_col: 'col-sm-2', data: {provide: 'datepicker', "date-format" => 'dd/mm/yyyy', 'date-language' => 'pt-BR'}, value: @orcamento.validade.nil? ? @orcamento.validade : l(@orcamento.validade) %>
  
  <div class="pull-right">
  	<%= link_to orcamentos_path, class: "btn btn-default" do %>
  		<i class="glyphicon glyphicon-arrow-left"></i> Voltar
  	<% end %>
	  <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
	  	<i class="glyphicon glyphicon-floppy-disk"></i> Salvar
	  <% end %>
  </div>

  <%= render 'modalservicos' %>

<% end %>
