<%= form_for @orcamento, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @orcamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orcamento.errors.count, "erro") %> não permitiram que este orçamento fosse salvo:</h2>

      <% @orcamento.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :data, class: 'col-sm-3 control-label' %>
    <div class="col-sm-2">
    	<%= f.text_field :data, class: 'form-control', data: {provide: 'datepicker', "date-format" => 'dd/mm/yyyy', 'date-language' => 'pt-BR'}, value: @orcamento.data.nil? ? @orcamento.data : l(@orcamento.data) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cliente_id, class: 'col-sm-3 control-label' %>
    <div class="col-sm-4">
    	<%= f.collection_select(:cliente_id, Cliente.all, :id, :nome, {prompt: true}, {class: 'form-control'})  %>
    </div>
  </div>
  <div id="infoCliente">
	  <div class="form-group" style="padding-top: 5px;">
	  	<%= f.label :endereco, "Endereço", class: 'col-sm-3', style: 'text-align: right' %>
	  	<div class="col-sm-8">
	  		<p id="clienteEndereco">
		  		<% if @orcamento.cliente.present? %>
	  				<%= @orcamento.cliente.endereco + ", " + @orcamento.cliente.complemento + " - " + @orcamento.cliente.bairro + " - " + @orcamento.cliente.cidade + " - " + @orcamento.cliente.uf %>
			  	<% end %>
	  		</p>
	  	</div>
	  </div>
	  <div class="form-group">
	  	<%= f.label :telefones, class: 'col-sm-3', style: 'text-align: right' %>
	  	<div class="col-sm-8">
	  		<p id="clienteTelefones">
	  			<% if @orcamento.cliente.present? %>
	  				<% if @orcamento.cliente.telefone.present? && @orcamento.cliente.celular.present? %>
	  					<%= @orcamento.cliente.telefone + " - " + @orcamento.cliente.celular %>
	  				<% elsif @orcamento.cliente.telefone.present? %>
	  					<%= @orcamento.cliente.telefone %>
	  				<% else %>
	  					<%= @orcamento.cliente.celular %>
	  				<% end %>
	  			<% end %>
	  		</p>
	  	</div>
	  </div>
	  
  </div>
  <div class="form-group">
    <%= f.label :descricao, "Descrição",class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
    	<%= f.text_field :descricao, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :forma_pagamento, "Forma de Pagamento", class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
    	<%= f.text_field :forma_pagamento, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-3 control-label">
    <%= f.label :servicos, "Serviços" %>
      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
        <i class="glyphicon glyphicon-plus" title="Adicionar Serviços" data-toggle="tooltip"></i>
      </button>
    </div>
    <div class="col-sm-8">
      <table id="tabelaServico" class="table table-striped table-bordered table-hover table-responsive">
        <thead>
          <tr >
            <th>Qtd</th>
            <th>Unid</th>
            <th>Serviço</th>
            <th>Valor Unitário</th>
            <th>Valor Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @orcamento.orcamento_servicos.each do |s| %>
              <tr>
                <td align="right">
                  <input type='hidden' name='orcamento_servicos[][quantidade]' value='<%= s.quantidade %>'></input>
                  <%= s.quantidade %></td>
                <td align="center"><%= s.servico.unidade %></td>
                <td>
                  <input type='hidden' name='orcamento_servicos[][servico_id]' value='<%= s.servico.id %>'></input>
                  <%= s.servico.nome %></td>
                <td align="right"><%= number_to_currency(s.servico.valor) %></td>
                <td align="right"><%= number_to_currency(s.servico.valor * s.quantidade)  %></td>
                <td align="center"><i class="glyphicon glyphicon-remove deletarServico" title="Remover"></i></td>
              </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="rodapeTabela">Total:</td>
            <td id="totalServicos" class="rodapeTabela"><%= number_to_currency(@orcamento.valor_total) %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :observacoes, "Observações", class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
    	<%= f.text_area :observacoes, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :validade, "Data de Validade",class: 'col-sm-3 control-label' %>
    <div class="col-sm-2">
    	<%= f.text_field :validade, class: 'form-control', data: {provide: 'datepicker', "date-format" => 'dd/mm/yyyy', 'date-language' => 'pt-BR'}, value: @orcamento.validade.nil? ? @orcamento.validade : l(@orcamento.validade) %>
    </div>
  </div>
  
  <div class="pull-right">
  	<%= link_to orcamentos_path, class: "btn btn-default" do %>
  		<i class="glyphicon glyphicon-arrow-left"></i> Voltar
  	<% end %>
	  <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
	  	<i class="glyphicon glyphicon-floppy-disk"></i> Salvar
	  <% end %>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Adicionar Serviço</h4>
        </div>
        <div class="modal-body">
          <%= form_for "orcamento_servico", remote: true, :html => {:class => 'form-horizontal'} do |f| %>
            <div class="form-group">
              <%= f.label :servico_id, "Serviço", class: 'col-sm-3 control-label' %>
              <div class="col-sm-9">
              	<%= f.collection_select(:servico_id, Servico.all, :id, :nome, {prompt: true}, {class: 'form-control'})  %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :quantidade, class: 'col-sm-3 control-label' %>
              <div class="col-sm-3">
              	<div class="input-group">
              	  <%= f.number_field :quantidade, min: 1, class: 'form-control' %>
              	  <span class="input-group-addon" id="unidade"></span>
              	</div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= button_tag(type: 'submit', id: 'btnDialogAddServico', class: 'btn btn-primary') do %>
      	  	<i class="glyphicon glyphicon-floppy-disk"></i> Adicionar
      	  <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>
