<%= render 'layouts/messages' %>

<div class="page-header">
	<h1>Visualizando Orçamento</h1>
</div>

<p>
  <strong>Data:</strong>
  <%= l @orcamento.data %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @orcamento.cliente.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @orcamento.descricao %>
</p>

<p>
  <strong>Forma de Pagamento:</strong>
  <%= @orcamento.forma_pagamento %>
</p>

<p>
  <strong>Serviços:</strong>
  <%= render 'tabelaServico' %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @orcamento.observacoes %>
</p>

<p>
  <strong>Validade:</strong>
  <%= l @orcamento.validade %>
</p>

<div class="pull-right">
	<%= link_to orcamentos_path, class: "btn btn-default" do %>
		<i class="glyphicon glyphicon-arrow-left"></i> Voltar
	<% end %>
	
	<%= link_to edit_orcamento_path(@orcamento), class: "btn btn-info" do %>
		<i class="glyphicon glyphicon-pencil"></i> Alterar
	<% end %> 
</div>
