<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to root_path, class: 'navbar-brand logo' do %>
				<%= image_tag 'logo.png', width: '120' %>
			<% end %>	
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<i class="glyphicon glyphicon-align-justify"></i>
			</button>
		</div>
		<ul class="nav navbar-nav navbar-right hidden-xs">
			<li>
				<%= link_to edit_usuario_registration_path, data: {toggle: "tooltip", placement: "bottom"}, title: "Editar Usuário" do %>
					Bem vindo(a), <%= current_usuario.nome %>
				<% end %>
			</li>
			<li>
				<%= link_to(destroy_usuario_session_path, :method=>'delete') do %>
					<i class="glyphicon glyphicon-off" style="float: right" data-toggle="tooltip" data-placement="bottom" title="Sair"></i> 
				<% end %>
			</li>
		</ul>
	</div>
</nav>