	<ul class="nav nav-sidebar">
		<li class="active hidden-xs">
			<%= link_to "", id: 'menu-toggle' do %>
			Menu <i class="glyphicon glyphicon-align-justify" style="float: right"></i>
			<% end %>
		</li>
		<li class="visible-xs-block">
			<%= link_to edit_usuario_registration_path, data: {toggle: "tooltip", placement: "bottom"}, title: "Editar Usuário" do %>
				Bem vindo(a), <%= current_usuario.nome %>
			<% end %>
		</li>
		<li>
			<%= link_to root_path do %>
				Inicio <i class="glyphicon glyphicon-home" style="float: right"></i>
			<% end %>
		</li>
		<li>
			<%= link_to clientes_path do %>
				Clientes <i class="glyphicon glyphicon-user" style="float: right"></i>
			<% end %>
		</li>
		<li>
			<%= link_to servicos_path do %>
				Serviços <i class="glyphicon glyphicon-wrench" style="float: right"></i>
			<% end %>
		</li>
		<li>
			<%= link_to orcamentos_path do %>
				Orçamentos <i class="glyphicon glyphicon-th-list" style="float: right"></i>
			<% end %>
		</li>
		<li class="visible-xs-block">
			<%= link_to(destroy_usuario_session_path, :method=>'delete') do %>
				Sair <i class="glyphicon glyphicon-off" style="float: right"></i>
			<% end %>
		</li>
	</ul>
