<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Expresso" %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'sidebar' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>
	<body>
		<div class="container-fluid">
			<% if usuario_signed_in? %>
				<div class="row">
					<div class="col-md-12">
						<%= render "layouts/navigation_top" %>
					</div>
				</div>
				<div class="row">
					<div id="conteudo" class="ativo">
						<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs" id="sidebar">
							<%= render "layouts/navigation" %>
						</div>
						<div class="navbar-collapse collapse hidden-sm" id="sidebar">
							<%= render "layouts/navigation" %>
						</div>
						<div class="col-sm-11 col-md-11 col-lg-11">
							<%= yield %>
						</div>
					</div>
				</div>
			<% else %>
				<div class="row">
					<%= yield %>
				</div>
			<% end %>
		</div>
		<div id="loading-indicator">
			<%= image_tag("loading.gif", :id => "loading-indicator") %>
		</div>
	</body>
</html>
